a {
  text-decoration: none;
  color: #222;
}

a:link {
  text-decoration: none;
}

a:visited, a:active {
  color: #222;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.3em;
}

input, button, textarea {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style:none;
}