/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

/* Common css */
.inner {
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
}
.banner {
  display: flex;
  align-items: center;
  background-color: #000;
  height: 40px;
}

.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}

.lnb a {
  margin: 10px;
  color: #ddd;
}

.lnb a:last-child {
  margin-right: 0;
}

.lnb a em {
  color: #bbb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  margin: auto;
  margin-top: 15px;
}


.gnb {
  display: flex;
}

.gnb li a {
  margin: 20px;
  font-weight: 500;
  color: #695945;
}

.gnb li a:last-child {
  margin-right: 0;
}

.gnb li a:hover {
  color: #333;
}

/* Intro */
.intro {
  display: flex;
  align-items: center;
  height: 85vh;
  background: url(images/main.jpg) no-repeat center center;
  background-size: cover;
}

.heading {
  margin-top: 30px;
  color: #4a433b;
  text-align: center;
}

.heading h1 {
  font-size: 56px;
  margin-bottom: 35px;
}

.heading p {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
}


/* About */
.about-content {
  display: flex;
  padding: 100px 0;
}

.about-content div {
  padding: 30px;
}

.desc {
  flex: 3; /* 3/5 */
  text-align: center;  
}

.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.desc p {
  font-size: 16px;
  line-height: 1.7em;
}

.desc a {
  color: #c25a3a;
  font-weight: bold;
}

.desc a:hover {
  text-decoration: underline;
}

.photo {
  flex: 2; /* 2/5 */
}
.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}